* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #fff;
    box-shadow: 7px 13px 37px #000;
}

.container h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container input {
    padding: 15px;
    margin: 7px;
    width: 100%;
    border-radius: 5px;
    font-size: 17px;
    background-color: #24303c;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
}

.container p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.container a {
    color: #fff;
    text-decoration: none;
}

.container a:hover{
    text-decoration: underline;
}


button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

    button.learn-more {
    width: 100%;
    height: auto;
}

    button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #1f53c5;
    border-radius: 1.625rem;
}

    button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

    button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

    button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

    button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

    button:hover .circle {
    width: 100%;
}

    button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

    button:hover .button-text {
    color: #fff;
    }